<div class="text-center">
    <div class="row margin-b-30">
        <h1>HEY BURRITO</h1>

        <p>This is a repeat after me song!</p>

        <p>Heeeeeey Burrito</p>

        <p>I said a Hey Hey Hey Burrito</p>
        
        <p>Mmmm yeah, Burrito yeah (rub stomach)</p>

        <p>Taco Bell, Taco Bell </p>

        <p>Guacamole Cinnamon Twist (twirl hands and whoosh)</p>

        <p>Sing it with fire sauce (LOUD) or mild sauce (softly)</p>
    </div>
    <div class="row margin-b-30">
        <h1>Bazzooka Bubblegum</h1>
        <p>This is a repeat after me song!</p>
        <p>My momma gave me a penny</p>
        <p>She said go eat some Denny&rsquo;s</p>
        <p>But I don&rsquo;t want no Denny&rsquo;s</p>
        <p>(Chorus) Because I want some bubblegum. Bazooka-zooka bubblegum (End Chorus)</p>
        <p>Bazooka-zooka bubblegum</p>
        <p>My momma gave me a nickel</p>
        <p>She said to buy a pickle</p>
        <p>But I didn&rsquo;t buy no pickle</p>        
        <p>(Chorus)</p>
        <p>My momma gave me a dime</p>
        <p>She said to buy a lime</p>
        <p>But I didn&rsquo;t buy no lime</p>
        <p>(Chorus)</p>
        <p>My momma gave me a quarter</p>
        <p>She said to buy some water</p>
        <p>But I didn&rsquo;t buy no water</p>
        <p>(Chorus)</p>
        <p>My momma gave me a dollar</p>
        <p>She said now don&rsquo;t you holler</p>
        <p>But I am gonna holler </p>
        <p>(Chorus)</p>
    </div>

    <div class="row margin-b-30">
        <h1>TOAST RAP</h1>
        <p>This is a repeat after me rap!</p>
        <p>All around the country coast to coast, People always ask me what I like most,</p>
        <p>I don't wanna brag, I don't wanna boast</p>
        <p>I always tell 'em I like toast.</p>
        <p>Make TOAST yeah TOAST</p>
        <p>Now there's no secret to toast perfection, there's a dial on the side, make your selection,</p>
        <p>Light or dark, crispy or brown, If it pops too soon, push it back down. Make TOAST yeah TOAST</p>
    </div>

    <div class="row margin-b-30">
        <h1>I Love the Mountains</h1>
        <p class="white-heading-v1">I love the mountains,</p>
        <p class="white-heading-v1">I love the rolling hills,</p>
        <p class="white-heading-v1">I love the flowers,</p>
        <p class="white-heading-v1">I love the daffodils,</p>
        <p class="white-heading-v1">I love the Campfire,</p>
        <p class="white-heading-v1">when all the lights are low</p>
        <p class="white-heading-v1">Boom-de-ada, boom-de-ada,</p>
        <p class="white-heading-v1">Boom-de-ada, boom-de-ada . . .</p>
    </div>
</div>