<p>My experience with the CIT&rsquo;s this year was one of the most memorable camp experience I have ever had. I was able to see these kids grow just being campers to almost full counselors. I was in shock by the amount of work that these kids were putting in! They made my job so much easier as well as made it much more fun. Being able to see my older campers work with the younger campers made my days so much better as they were enjoying themselves so much that they were giving each other shout outs! The CIT&rsquo;s deserve so much credit for what they did, the training they received from us was basically just spark notes of what they would experience.</p>
<div class="row row-both-adjust margin-t-30">
    <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 article-media">
        <img class="img-responsive" src="/assets/img/camp/cit-activity4.jpg">
        <div class="text-center">
            <span>Fundip and Braidz leading the Silent Auction</span>
        </div>
    </div>
</div>

<p>At the end of each day I would debrief with them, and make sure that they knew that they were making a difference in the lives of the campers; I let them know that every little thing they did was making a difference in everyone&rsquo;s lives. Hearing the stories that they would say about the campers at the end of the day just made my day, and basically my whole week.</p>

<p>I only wish that they continue to do the amazing work and join CK in the future. I am very proud of them and everything they did, and I hope they forever know that they changed the lives of many even when they were just a few. Braidz and Fundip, you mean the world to the campers, and you should forever be proud of what you did. In addition, you mean so much to me! You know you were out here putting in that work!!!</p>

<p><em>- Beemo</em></p>

<div class="row row-both-adjust margin-t-30">
    <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 xs-margin-b-30 article-media">
        <img class="img-responsive" src="/assets/img/camp/beemo-fundip-aqua.jpg">
        <div class="text-center">
            <span>Beemo, Fundip, Aqua</span>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 article-media">
        <img class="img-responsive" src="/assets/img/camp/braidz-aqua.jpg">
        <div class="text-center">
            <span>Braidz & Aqua</span>
        </div>
    </div>
</div>