<p>Camp was made possible by the big and small efforts of so many people. Even if you're not a college student, you can still impact the Claremont chapter tremendously! Read below to see the different ways you can be involved with our chapter.</p>

<div class="row row-both-adjust margin-b-40">
    <h1>Option #1: Share!</h1>
    <p>First and foremost, you can help by sharing information about our chapter with friends, family, and co-workers. The more people we can reach, the more successful we can become. Additionally, anyone and everyone should sign up for the Camp Kesem at the Claremont Colleges newsletter, Facebook, and Instagram! Stay up to date with our chapter and information about future fundraisers, next year's camp information, and much more!</p>
    <div class="row text-center margin-b-30">
        <div class="col-sm-6">
            <a target="_blank" href="https://www.facebook.com/campkesemclaremont"><button class="square-btn fun-button fun-btn-fb-blue">Like Us on Facebook</button></a>
        </div>
        <div class="col-sm-6">
            <a target="_blank" href="https://www.instagram.com/campkesemclaremont/"><button class="square-btn fun-button fun-btn-black">Follow Us on Instagram!</button></a>
        </div>
    </div>

    <div class="row row-both-adjust">
        <form action="//campkesem.us14.list-manage.com/subscribe/post?u=226bc49dcedaa49cc2cf04b1c&id=e66818a5b9" target="_blank" method="post" class="subscribe-form input-group footer-v7-form-group">
            <input type="text" class="form-control radius-3" name="EMAIL" placeholder="Your e-mail" required>
            <span class="input-group-btn padding-lr-10">
                <button class="square-btn fun-button fun-btn2 top-10" type="submit">Subscribe!</button>
            </span>
        </form>
    </div>
</div>

<div class="row row-both-adjust margin-b-40">
    <h1>Option #2: Help Us Fundraise!</h1>
    <p>The next way you can get involved, is by helping us fundraise! This can be accomplished by an individual donation, sharing our donation page, or even creating a fundraising page of your own!</p>
    <div class="text-center">
        <div class="col-sm-6">
            <a target="_blank" href="https://donate.kesem.org/events/friends-camp-kesem-at-claremont-colleges-fy-2017/e93166"><button class="square-btn fun-button fun-btn-kesem-green">Become a Fundraiser!</button></a>
        </div>
        <div class="col-sm-6">
            <a target="_blank" href="https://donate.kesem.org/fundraise?fcid=766838"><button class="square-btn fun-button fun-btn-maroon">Donate to Our Chapter!</button></a>
        </div>
    </div>
</div>

<div class="row row-both-adjust margin-b-40">
    <h1>Option #3: Volunteer as a Coordinator or Counselor!</h1>
    <p>If you currently attend the Claremont Colleges as a student, you have the opportunity to volunteer for the Claremont chapter as a counselor and/or coordinator. Counselors work directly with campers to make the week of camp fun and meaningful. Coordinators have an invaluable opportunity to make camp a reality through planned fundraisers, camp planning, and much more! Both of these options do so much to make Camp Kesem even better.</p>
    <div class="row text-center margin-b-20">
        <a target="_blank" href="https://docs.google.com/document/d/18UBgUEYmSazzlfgHFar_W8Vr7N6gxgr-8gXAuylfKpg"><button class="square-btn fun-button fun-btn-black">Learn More About Coordinator Roles</button></a> 
    </div>
    <div class="row text-center">
        <div class="col-sm-6">
            <a target="_blank" href="https://goo.gl/forms/4QFGlM0bUlyJ8wBe2"><button class="square-btn fun-button fun-btn-blue">Apply to Be a Counselor</button></a>
        </div>
        <div class="col-sm-6">
            <a target="_blank" href="https://goo.gl/forms/DdqAqVJjcESjKepz1"><button class="square-btn fun-button fun-btn-mint">Apply to Be a Coordinator</button></a>
        </div>
    </div>
</div>

<div class="row row-both-adjust margin-b-40">
    <h1>Option #4: Join the Advisory Board!</h1>
    <p>If you're not a college student, you can still be just as impactful by joining the advisory board! Members of the advisory board have the opportunity to work closely with the coordinators to make camp spectacular. They're even invited to come and visit camp when it's happening!</p>
    <div class="text-center">
        <a href="mailto:claremont@campkesem.org?subject=Camp Kesem at the Claremont Colleges Advisory Board"><button class="square-btn fun-button fun-btn-yellow">Join the Advisory Board <i class="fa fa-envelope padding-l-5"></i></button></a>
    </div>
</div>

<div class="row row-both-adjust margin-b-40">
    <h1>Option #5: Become a Corporate Sponsor</h1>
    <p>If you run a company or small business and would like to be associated with the Camp Kesem at the Claremont Colleges organization, you can become a corporate sponsor! We'll even post your logo on our website and mention your business whenever possible!</p>
    <div class="text-center">
        <a href="mailto:claremont@campkesem.org?subject=Corporate Sponsorship with Camp Kesem at the Claremont Colleges"><button class="square-btn fun-button fun-btn-kesem-green">Contact Us To Become a Corporate Sponsor <i class="fa fa-envelope padding-l-5"></i></button></a>
    </div>
</div>