<p>Camp was made possible by the big and small efforts of so many people. Even if you're not a college student, you can still impact the Claremont chapter tremendously! Read below to see the different ways you can be involved with our chapter.</p>

<h1>Option #1: Share!</h1>
<p>First and foremost, you can help by sharing information about our chapter with friends, family, and co-workers. The more people we can reach, the more successful we can become. Additionally, anyone and everyone should sign up for the Camp Kesem at the Claremont Colleges newsletter, Facebook, and Instagram! Stay up to date with our chapter and information about future fundraisers, next year's camp information, and much more!</p>

<h1>Option #2: Help Us Fundraise!</h1>
<p>The next way you can get involved, is by helping us fundraise! This can be accomplished by an individual donation, sharing our donation page, or even creating a fundraising page of your own!</p>

<h1>Option #3: Volunteer as a Coordinator or Counselor!</h1>
<p>If you currently attend the Claremont Colleges as a student, you have the opportunity to volunteer for the Claremont chapter as a counselor and/or coordinator. Counselors work directly with campers to make the week of camp fun and meaningful. Coordinators have an invaluable opportunity to make camp a reality through planned fundraisers, camp planning, and much more! Both of these options do so much to make Camp Kesem even better.</p>

<h1>Option #4: Join the Advisory Board!</h1>
<p>If you're not a college student, you can still be just as impactful by joining the advisory board! Members of the advisory board have the opportunity to work closely with the coordinators to make camp spectacular. They're even invited to come and visit camp when it's happening!</p>

<h1>Option #5: Become a Corporate Sponsor</h1>
<p>If you run a company or small business and would like to be associated with the Camp Kesem at the Claremont Colleges organization, you can become a corporate sponsor! We'll even post your logo on our website and mention your business whenever possible!</p>