<p>With the Camp Kesem at the Claremont Colleges ending its second fiscal year, we can proudly say our organization has made huge improvements with fundraising. We raised <strong>over 2x</strong> the amount we did our first year, meeting about <strong>75% of our $30,000 goal!</strong></p>

<p>While we had a slow start in the Fall 2016 semester, we recruited some valuable coordinators for our team. By November, we held our first big fundraiser, <strong>Smash Cancer</strong>. This event featured a Super Smash Bros. Wii U gaming competition. While proud of the turnout, we were more excited to get acquainted with some of the leaders of the Claremont Smash community. Following winter break, we started making big strides in fundraising thanks to our new partnerships and new members to our coordinator board. Playing off college students&rsquo; love for boba tea, we hosted several events featuring drinks from <strong>TPumps</strong>. In February, we hosted our much improved (and our most successful event) <strong>Smash Cancer 2.0</strong>!</p>
<div class="row row-both-adjust margin-t-30">
    <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 article-media">
        <img class="img-responsive" src="/assets/img/fundraising/boba-fundraise.jpg">
        <div class="text-center">
            <span>Scuba, Pogo, and Stitch selling Boba on-campus!</span>
        </div>
    </div>
</div>

<p>Aside from fundraisers, we received <strong>one matching grant from the Kesem foundation</strong> and hosted profit shares with restaurants such as <strong>The Junction</strong> and <strong>Blaze Pizza</strong>. We are also grateful for the support provided to us by the Claremont Colleges who helped us with some of our general expenses throughout the year.</p>
<div class="row row-both-adjust margin-t-30">
    <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 xs-margin-b-30 article-media">
        <img class="img-responsive" src="/assets/img/fundraising/smash-cancer.jpg">
        <div class="text-center">
            <span>Our Smash Cancer Fundraising Flier!</span>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 article-media">
        <img class="img-responsive" src="/assets/img/fundraising/disneyland-giveaway.jpg">
        <div class="text-center">
            <span>Flier of the Disneyland Giveaway Fundraiser!</span>
        </div>
    </div>
</div>

<p>Individual donations made up <strong>an enormous percentage</strong> of our revenue. This includes the money donated by our student leaders, counselors, advisory board, and all our friends and family. Incredibly, <strong>over $2,000</strong> were raised by our student leaders in just the final week leading up to camp! </p>
<div class="stack-bar-div">
    <canvas id="fundraising-barchart"></canvas>
</div>

<p>In hopes of continuing our trend of growth and reaching 100% of our fundraising goals next year, we look forward to holding our inaugural Make the Magic event.  </p>