body {
    overflow-x: hidden;
}

.op-b-promo-b-v12 .op-b-promo-b-v12-community {
    display: block;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    padding: 60px 40px;
    text-decoration: none;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.op-b-promo-b-v12 .op-b-promo-b-v12-community-icon {
    display: block;
    font-size: 50px;
    color: #fff;
    margin-bottom: 30px;
}

.op-b-promo-b-v12 .op-b-promo-b-v12-community-icon {
    display: block;
    font-size: 50px;
    color: #fff;
    margin-bottom: 30px;
}

.op-b-promo-b-v12 .op-b-promo-b-v12-community-title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 0;
}

.op-b-promo-b-v12 .op-b-promo-b-v12-community:hover {
    background: rgba(255, 255, 255, 0.5);
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* PreLoader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;
}
#loader {
    top: 25%;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1500;
    text-align: center;
    display: block;
    position: relative;
}
@media (min-width: 1200px) {
    #loader {
        left: 35%;
        width: 500px;
    }
    #loader h2 {
        font-size: 20px;
    }
}
@media (max-width: 1199px) {
    #loader {
        left: 35%;
        width: 500px;
    }
    #loader h2 {
        font-size: 18px;
    }
}
@media (max-width: 1000px) {
    #loader {
        left: 35%;
    }
}
@media (max-width: 800px) {
    #loader h2 {
        font-size: 20px;
    }
    #loader {
        left: 25%;
        width: 500px;
    }
}
@media (max-width: 574px) {
    #loader h2{
        font-size: 15px;
    }
    #loader {
        left: 35%;
        width: 250px;
    }
}
#loader h2 {
    color: #000;
    font-family: 'Raleway', Georgia, serif;
    font-weight: 500;
}
#loader img {
    max-width: 200px;
}
#loader .loading-icon {
    width:60px;
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  
            transition: all 0.3s 1s ease-out;
}
/* Modals */
.back-to-home-button a {
    font-weight: 500;
}
.modal {
    top: 25%;
}
.close-modal {
    float: left;
    margin-left: 10px;
}
.float-right {
    float: right;
    margin-right: 10px;
}
.article-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}
.article-actions span button.btn-base-brd-slide {
    font-size: 13px;
    font-weight: 500;
}
.article-logo {
    width: 100px;
}
.counters-overflow  {
    overflow:hidden;
}
.separation {
    margin-bottom: 100px;
}
.modal-img-container {
    text-align: center;
    margin-bottom: 15px;
}
.modal-img-container img {
    max-width: 75%;
}
.section-modal {
    overflow: hidden;
}
.share-me {
    padding-bottom: 10px;
    padding-top: 5px;
}
.text-center {
    text-align: center;
}

.small-fun {
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 20px;
    display: inline-block;
    margin: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.fun-btn {
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 40px;
    display: inline-block;
    margin: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.fun-btn2 {
    background: #95d60a;
    color: #fff;
    box-shadow: 0 6px #00c18a;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 40px;
}

.fun-btn2:hover {
    box-shadow: 0 4px #00c18a;
    top: 2px;
}

.fun-btn-blue:hover {
    box-shadow: 0 4px #004d83;
    top: 2px;
}

.fun-btn-blue {
    background: #0091ba;
    color: #fff;
    box-shadow: 0 6px #004d83;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 40px;
}

.fun-btn-yellow:hover {
    box-shadow: 0 4px #FFDB00;
    top: 2px;
}

.fun-btn-yellow {
    background: #ffc600;
    color: #fff;
    box-shadow: 0 6px #FFDB00;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 40px;
}

.fun-btn-kesem-green:hover {
    box-shadow: 0 4px #008D65;
    top: 2px;
}

.fun-btn-kesem-green {
    background: #00C08A;
    color: #fff;
    box-shadow: 0 6px #008D65;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 40px;
}

.fun-back-to-top, .fun-back-to-top:hover {
    color: #fff;
    padding: 15px 20px;
}

.top-10 {
    top: -10px;
}
.top-10:hover {
    top: -8px;
}

video {
    border-radius: 100%;
}

video:hover {
    opacity: 1;
}

.video-button:after {
    border-color: hsla(0,0%,100%,0) hsla(0,0%,100%,0) hsla(0,0%,100%,0) #fff;
    border-style: solid;
    border-width: 20px 0 20px 30px;
    content: "";
    height: 0;
    margin-left: 4px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: all .4s cubic-bezier(.18,.89,.34,1.52);
    top: 50%;
    width: 0;
}

.video-button:hover:after {
    border-color: hsla(0,0%,100%,0) hsla(0,0%,100%,0) hsla(0,0%,100%,0) #c4302b;
    border-style: solid;
    border-width: 20px 0 20px 30px;
    content: "";
    height: 0;
    margin-left: 4px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: all .4s cubic-bezier(.18,.89,.34,1.52);
    top: 50%;
    width: 0;
}

/* Before after styling help */
section {
    position: relative;
}

#home:after {
    background: url('../img/splotchTop.png') 0 0;
    background-size: 1200px 188px;
    content: "";
    height: 188px;
    left: 0;
    margin-bottom: -50px;
    position: absolute;
    right: 0;
    bottom: -130px;
}
#about:after {
    background: url('../img/splotchBottom.png') 0 0;
    background-size: 1200px 188px;
    content: "";
    height: 188px;
    left: 0;
    margin-bottom: -50px;
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: 1;
}

#re-camp:before {
    background: url('../img/cloud-cover.png') 0 0;
    background-size: 1920px 288px;
    content: "";
    height: 288px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0px;
}

#re-camp:after {
    background: url('../img/day-ground.png') 0 0;
    background-size: 1920px 432px;
    content: "";
    height: 432px;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0px;
}

#ground-night-transition {
    background: #000;
    background: -webkit-linear-gradient(#573b0c, #000);
    background: -moz-linear-gradient(#573b0c, #000);
    background: -o-linear-gradient(#573b0c, #000);
    background: linear-gradient(#573b0c, #000); /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */ /* Standard syntax */
    height: 150px;
}

#empowerment:after {
    background: -webkit-linear-gradient(transparent, #000080);
    background: -moz-linear-gradient(transparent, #000080);
    background: -o-linear-gradient(transparent, #000080);
    background: linear-gradient(transparent, #000080); /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */ /* Standard syntax */
    content: "";
    opacity: .75;
    height: 500px;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: 1;
}

#song {
    margin: 40px 0;
}

#counselors {
    padding-bottom: 25px;
}

#quote-load {
    margin-top: 15px;
}

.test:before {
    background: url('../img/rolling-mountains.png') repeat-x 0 0;
    background-size: 1920px 368px;
    content: "";
    height: 368px;
    left: 0;
    margin-bottom: -50px;
    position: absolute;
    right: 0;
    top: -368px;
    z-index: 2;
}

.cloud-push {
    padding-top: 288px;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.bg-color-blue-sky {
    background: #335B96;
    background: -webkit-linear-gradient(#7ec0ee, #335B96 93%, #fd5e53);
    background: -moz-linear-gradient(#7ec0ee, #335B96 93%, #fd5e53);
    background: -o-linear-gradient(#7ec0ee, #335B96 93%, #fd5e53);
    background: linear-gradient(#7ec0ee, #335B96 93%, #fd5e53); /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */ /* Standard syntax */
    padding-bottom: 432px;
}

.bg-color-starry-night {
    background: url('../img/starry-night.jpg');
    background-repeat: repeat;
    padding-bottom: 400px;
}


.heading-v1 .heading-v1-title {
    margin-bottom: 0px;
}

.white-heading-v1 {
    color: #fff;
}

.off-white-subheading {
    color: #faebd7;
}

.white-boxed {
    background: #fff;
}

@media (min-width: 1400px) {
    .cloud-push {
        width: 1200px;
    }
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-b-40 {
    padding-bottom: 40px;
}

.no-top-padding {
    padding-top: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-50 {
    margin-top: 50px;
}

/* Needed to remove extra overflow-x on modals */
.row-right-adjust {
    margin-right: 0;
}
.row-left-adjust {
    margin-left: 0;
}

.row-both-adjust {
    margin-left: 0;
    margin-right: 0;
}

.font-50px {
    font-size: 50px;
}

.font-22 {
    font-size: 22px;
}

.promo-block-v4 h1.font-75px {
    font-size: 75px;
}

@media (max-width: 480px) {
    .col-xss-no-offset {
        margin-left: 0;
    }
}

.clickable {
    cursor: pointer;
}

.font-25 {
    font-size: 25px;
}

h3.empower {
    font-size: 32px;
}

.kesem-blue {
    color: #008FBE;
}

.white-heading-v1 em, .white-heading-v1 strong {
    color: #fff;
}

.black-background {
    background: #000;
}

.z-2 {
    z-index: 2;
}

.article-format p {
    font-size: 20px;
    color: rgba(0,0,0,.8);
}

.kesem-white-logo {
    opacity: .75;
    width: 250px;
}

.nav-involved {
    display: block;
    font-size: 13px;
    font-weight: 400;
    border-top: 1px dashed #ebeef6;
    color: #34343c;
    letter-spacing: 1px;
}

.nav-involved a {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #34343c;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}

.satisfy p {
    /* font-family: 'Just Another Hand', cursive; */
    font-family: 'Just Another Hand', cursive;
    font-size: 25px;
}